.call-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
  }
  
  .call-button {
    border: none;
    border-radius: 50%; /* Make the button circular */
    background-color: green; /* Set the button color to green */
    color: white;
    padding: 25px; /* Increase padding to increase button size */
    font-size: 20px; /* Increase font size */
    cursor: pointer;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 90px;
    width: 90px;
  }
  
  .call-button span {
    margin-left: 10px;
    font-size: 16px; /* Adjust font size if necessary */
  }